* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
    font-size: 20px;
}

h1 {
    font-size: 30px;
    font-family: 'Zen Dots', cursive;
}

p {
    font-size: 20;
    font-family: 'Noto Sans JP', sans-serif;
}

nav {
    width: 100%;
    height: 100px;
    background-color: lightyellow;
}

ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 100px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0 20px;
}

ul li a:hover {
    color: red ;
}

.imgs-Welcome-gif {
    width: 50px;
    height: 50px;
    text-align: center;
}